<table class="<%= resource.class.to_s.downcase %> detail">
<% attribute_syms.each do |attr| %>
  <tr>
    <th><%= attr.to_s.titleize %></th>
    <td><%= resource.attributes[attr.to_s] %></td>
  </tr>
<% end %>
</table>